In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_bending21=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset1.csv",skiprows=4)

In [3]:
df_bending22=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset2.csv",skiprows=4)

In [4]:
df_bending23=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset3.csv",skiprows=4)

In [5]:
df_bending24=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset4.csv",skiprows=5,sep=' ')

In [6]:
df_bending25=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset5.csv",skiprows=4)

In [7]:
df_bending26=pd.read_csv(r"C:\Users\kunj3\Downloads\AReM\bending2\dataset6.csv",skiprows=4)

In [8]:
df_bending24.head()

      0  32.50  0.50  0.00  0.00.1  19.00  1.00  Unnamed: 7
0   250  32.50  0.50   0.0     0.0  18.50  0.50         NaN
1   500  32.75  0.43   1.0     0.0  18.00  0.00         NaN
2   750  32.50  0.50   0.0     0.0  17.50  0.50         NaN
3  1000  32.50  0.50   7.5     0.5  17.50  0.87         NaN
4  1250  32.67  0.47  11.0     1.0  16.75  0.83         NaN

In [9]:
df_bending24.isnull().sum()

0               0
32.50           0
0.50            0
0.00            0
0.00.1          0
19.00           0
1.00            0
Unnamed: 7    479
dtype: int64

In [10]:
df_bending24.columns

Index(['0', '32.50', '0.50', '0.00', '0.00.1', '19.00', '1.00', 'Unnamed: 7'], dtype='object')

In [11]:
df_bending24.shape

(479, 8)

In [12]:
df_bending24.rename(
    columns={'0':'# Columns: time', '32.50':'avg_rss12', '0.50':'var_rss12', '0.00':'avg_rss13', '0.00.1':'var_rss13', '19.00':'avg_rss23', '1.00':'var_rss23'},
    inplace=True
)

In [13]:
df_bending24.drop(columns=['Unnamed: 7'],axis=0,inplace=True)

In [14]:
df_bending24.head()

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,250,32.50,0.50,0.0,0.0,18.50,0.50
1,500,32.75,0.43,1.0,0.0,18.00,0.00
2,750,32.50,0.50,0.0,0.0,17.50,0.50
3,1000,32.50,0.50,7.5,0.5,17.50,0.87
4,1250,32.67,0.47,11.0,1.0,16.75,0.83

In [15]:
df_bending24.loc[len(df_bending24.index)]=[0,32.50,0.50,0.00,0.001,19.00,1.00]

In [16]:
lst1 = [df_bending21,df_bending22, df_bending23, df_bending24,df_bending25,df_bending26]  # List of your dataframes
df_bending2= pd.concat(lst1)

In [17]:
df_bending2.rename(
    columns={'# Columns: time':'time'},
    inplace=True,
)

In [18]:
type(df_bending2)

pandas.core.frame.DataFrame

In [19]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\walking'
import dask.dataframe as dd
df_walking = dd.read_csv(path + "/*.csv",skiprows=4)

In [20]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\sitting'
df_sitting = dd.read_csv(path + "/*.csv",skiprows=4)

In [21]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\standing'
df_standing = dd.read_csv(path + "/*.csv",skiprows=4)

In [22]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\lying'
df_lying = dd.read_csv(path + "/*.csv",skiprows=4)

In [23]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\cycling'
df_cycling = dd.read_csv(path + "/*.csv",skiprows=4,on_bad_lines='skip')

In [24]:
# Using data library
path = 'C:\\Users\\kunj3\\Downloads\\AReM\\bending1'
df_bending1 = dd.read_csv(path + "/*.csv",skiprows=4)

In [25]:
df_walking=pd.DataFrame(df_walking)

In [26]:
df_sitting=pd.DataFrame(df_sitting)

In [27]:
df_standing=pd.DataFrame(df_standing)

In [28]:
df_lying=pd.DataFrame(df_lying)

In [29]:
df_cycling=pd.DataFrame(df_cycling)

In [30]:
df_bending1=pd.DataFrame(df_bending1)

In [31]:
df_walking.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [32]:
df_sitting.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [33]:
df_standing.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [34]:
df_lying.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [35]:
df_cycling.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [36]:
df_bending1.rename(
    columns={0:'time', 1:'avg_rss12', 2:'var_rss12', 3:'avg_rss13', 4:'var_rss13', 5:'avg_rss23', 6:'var_rss23'},
    inplace=True,
)

In [37]:
df_walking['Activity']="Walking"
df_sitting['Activity']="Sitting"
df_standing['Activity']="Standing"
df_lying['Activity']="Lyinng"
df_cycling['Activity']="Cycling"
df_bending1['Activity']="Bending1"
df_bending2['Activity']="Bending2"

In [38]:
df_bending2.duplicated().sum()

0

In [39]:
lst = [df_walking,df_sitting, df_standing, df_lying,df_cycling,df_bending1,df_bending2]  # List of your dataframes
df= pd.concat(lst)

In [40]:
df_bending2.isnull().sum()

time         0
avg_rss12    0
var_rss12    0
avg_rss13    0
var_rss13    0
avg_rss23    0
var_rss23    0
Activity     0
dtype: int64

In [41]:
df.isnull().sum()

time         0
avg_rss12    0
var_rss12    0
avg_rss13    0
var_rss13    0
avg_rss23    0
var_rss23    0
Activity     0
dtype: int64

In [42]:
df.duplicated().sum()

3359

In [43]:
df.shape

(42237, 8)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42237 entries, 0 to 479
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       42237 non-null  float64
 1   avg_rss12  42237 non-null  float64
 2   var_rss12  42237 non-null  float64
 3   avg_rss13  42237 non-null  float64
 4   var_rss13  42237 non-null  float64
 5   avg_rss23  42237 non-null  float64
 6   var_rss23  42237 non-null  float64
 7   Activity   42237 non-null  object
dtypes: float64(7), object(1)
memory usage: 2.9+ MB

In [45]:
df.head()

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,Activity
0,0.0,35.00,3.67,16.50,3.77,14.00,1.63,Walking
1,250.0,28.50,3.35,17.50,3.77,12.25,3.90,Walking
2,500.0,35.50,2.87,15.75,2.86,17.75,5.07,Walking
3,750.0,29.75,12.19,16.25,2.17,20.75,2.59,Walking
4,1000.0,27.00,2.12,16.75,0.83,24.75,1.64,Walking

In [46]:
df["Activity"].unique()

array(['Walking', 'Sitting', 'Standing', 'Lyinng', 'Cycling', 'Bending1',
       'Bending2'], dtype=object)

In [47]:
x = df.drop('Activity', axis =1)
y = df['Activity']

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 101)

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [50]:
scaled_x_train=scaler.fit_transform(x_train)
scaled_x_test=scaler.transform(x_test)

In [51]:
from sklearn.linear_model import LinearRegression,LogisticRegression

In [52]:
log_model=LogisticRegression()

In [53]:
log_model.fit(scaled_x_train,y_train)

LogisticRegression()

In [54]:
log_model.score(scaled_x_train,y_train)

0.6723490229504057

In [55]:
log_model.score(scaled_x_test,y_test)

0.6756628787878788

In [56]:
from sklearn.neighbors import KNeighborsClassifier

In [57]:
kn=KNeighborsClassifier(n_neighbors=1)

In [58]:
kn.fit(scaled_x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [59]:
kn.score(scaled_x_train,y_train)

C:\Users\kunj3\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.9999684313539793

In [60]:
kn.score(scaled_x_test,y_test)

C:\Users\kunj3\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.7833333333333333

In [61]:
from sklearn.svm import SVC #linear kernel

In [62]:
model = SVC()

In [63]:
model.fit(scaled_x_train,y_train)

SVC()

In [64]:
model.score(scaled_x_train,y_train)

0.7484925971525082

In [65]:
model.score(scaled_x_test,y_test)

0.7465909090909091

In [66]:
from sklearn import tree

In [67]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [68]:
clf.score(x_train,y_train)

0.9999684313539793

In [69]:
clf.score(x_test,y_test)

0.7823863636363636

In [70]:
## prepruning
from sklearn.model_selection import GridSearchCV
params = {'max_depth' : [2,4,6,8,10,12],
         'min_samples_split' : [2,3,4],
         'min_samples_leaf':[1,2]}
gcv = GridSearchCV(estimator = clf, param_grid = params)
gcv.fit(x_train,y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [2, 4, 6, 8, 10, 12],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 3, 4]})

In [71]:
gcv.best_params_

{'max_depth': 12, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [72]:
y_pred = gcv.predict(x_test)
y_pred

array(['Lyinng', 'Lyinng', 'Walking', ..., 'Walking', 'Lyinng', 'Cycling'],
      dtype=object)

In [73]:
gcv.score(x_test,y_test)

0.771780303030303

In [74]:
gcv.score(x_train,y_train)

0.8392524544622281